
:host() {
  margin: 16px;
  width: 100%;
}

mat-form-field {
  width: 95%;
  height: 100%;
}

mat-checkbox{
  width: 95%;
}
.datemargin {
  margin-top: 16px;
}
  .all-width {
      width: 95%;
      height: 40;
    }
