
:host() {
  margin: 16px;
  width: 100%;
}

mat-form-field {
  width: 95%;
  height: 100%;
}

mat-checkbox{
  width: 95%;
}
.datemargin {
  margin-top: 16px;
}
.all-width {
    width: 95%;
    height: 40;
  }
  .mat-grid-list {
    padding: 0!important;
    background-color: #BDBDBD;
  }
    

  // body {
  //   background: #fafafa;
  // }
  
  // h1 {
  //   text-align:center;
  // }
  
  // .mdl-grid {
  //   padding: 0!important;
  // }
  // .pTexto{
  //   height: 10px;
  // }
  // .mdl-cell {
  //   box-sizing: border-box;
  //   background-color: #BDBDBD;
  //   height: 150px;
  //   padding-left: 8px;
  //   padding-top: 4px;
  //   color: white;
  // }
  // .mdl-cell--1-col {
  //   background-color: #BDBDDD;
  // }
  // .mdl-cell--4-col {
  //   background-color: #66BB6A;
  // }
  // .mdl-cell--6-col {
  //   background-color:rgb(151, 206, 238);
  // }
  // .mdl-cell--2-col {
  //   background-color:#F48FB1;
  // }
  